# dependencies
/node_modules
/.pnp
.pnp.js
# tests
src/components/App/App.test.js
src/components/Button/Button.test.js
src/components/ButtonWithLoading/ButtonWithLoading.test.js
src/components/Header/Header.test.js
src/components/Search/Search.test.js
src/components/Table/Table.test.js
src/components/Footer/Footer.test.js
# snapshots
src/components/App/__snapshots__/App.test.js.snap
src/components/Button/__snapshots__/Button.test.js.snap
src/components/ButtonWithLoading/__snapshots__/ButtonWithLoading.test.js.snap
src/components/Header/__snapshots__/Header.test.js.snap
src/components/Search/__snapshots__/Search.test.js.snap
src/components/Table/__snapshots__/Table.test.js.snap
src/components/Footer/__snapshots__/Footer.test.js.snap
# production
/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
/package-lock.json
Thumbs.db
/_templates

# Webstorm
.idea/*

# VS Code
.vscode/*
