.search {
    .form > button.btn.btn-primary {
        margin-bottom: 5px;
    }

    @media only screen and (max-width: 768px) {
        .search-bar {
            width : 270px;
            margin-right: 5px;
        }

        .search-button {
            
            margin-bottom: 8px;
        }
    }

    @media only screen and (max-width: 375px) {
        .search-button {
            margin-top: 5px;
        }
    }
}