html, body {
  color: #222;
  background: #f4f4f4;
  font: 400 16px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100%;
}

#hacker-news-root {
  height: inherit;
}

body a {
  color: #222;
  text-decoration: none;
}

body a :hover {
  text-decoration: underline;
}

body ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  margin-right: 10px;
  border: 1px solid #dddddd;
}

body button {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddd;
  background: transparent;
  color: #0069D9;
  cursor: pointer;
}

body button :hover {
  color: #222;
}

body button :focus {
  outline: none;
}

body *:focus {
  outline: none;
}
